@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<!-- Meta Tags -->
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>@Model.Value("title") - @Model.Value("companyName")</title>
<meta name="description" content="">
<meta name="keywords" content="">