@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage


@using Umbraco.Cms.Core.Models
@{
    var links = Model.Value<IEnumerable<Link>>("mainCatalogs");
}

<nav id="navmenu" class="navmenu">

    <ul>
        <li><a href="#hero" class="active" data-translate="home"></a></li>
        <li><a href="#Products" data-translate="products">Products</a></li>
        @if (links.Any())
        {
            <li class="dropdown">
                <a href="#">
                    <span data-translate="catalogs">Catalogs</span>
                    <i class="bi bi-chevron-down toggle-dropdown"></i>
                </a>
                  <ul>
                    @foreach (var link in links)
                    {
                        <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                    }
                </ul>
            </li>


        }
        <li><a href="#about" data-translate="about">About</a></li>
        <li><a href="#services" data-translate="services">Services</a></li>
        <li><a href="#team" data-translate="team">Team</a></li>
        <li><a href="#contact" data-translate="contact">Contact</a></li>
        <!-- Language Switcher -->
        <li class="dropdown">
            <a href="#">
                <span data-translate="language">اللغة</span>
                <i class="bi bi-chevron-down toggle-dropdown"></i>
            </a>
            <ul>
                <li><a href="#" onclick="setLanguage('en')">English</a></li>
                <li><a href="#" onclick="setLanguage('ar')">العربية</a></li>
            </ul>
        </li>

        </li>
    </ul>
    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>

</nav>
